{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_boost/maintenance

    Boost maintenance layout template.

    Context variables required for this template:
    * output - The core renderer for the page

    Example context (json):
    {
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Test page",
            "favicon": "favicon.ico",
            "main_content": "<h1>Headings make html validators happier</h1>"
         }
    }
}}
{{{ output.doctype }}}
<html {{{ output.htmlattributes }}}>
<head>
    <title>{{{ output.page_title }}}</title>
    <link rel="shortcut icon" href="{{{ output.favicon }}}" />

    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch:400,700|Lato:300,400,400i,700|Montserrat|Neucha|News+Cycle:400,700|Nunito+Sans:400,600|Open+Sans:300,300i,400,400i,700,700i|Raleway:400,700|Roboto|Source+Sans+Pro:300,400,400i,700|Ubuntu:400,700" rel="stylesheet">

    {{{ output.standard_head_html }}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body {{{ output.body_attributes }}}>

<div id="page-wrapper">

    {{{ output.standard_top_of_body_html }}}

    <div id="page" class="container card card-body">

        <div class="row">
            <div class="col-12 py-3">
                {{{ output.page_heading }}}
            </div>
        </div>

        <div id="page-content" class="row">
            <section id="region-main" class="col-12">
                {{{ output.main_content }}}
            </section>
        </div>

    </div>
    {{{ output.standard_after_main_region_html }}}

<footer id="page-footer" class="py-3 bg-dark text-light">
    <div class="container">
        {{{ output.standard_footer_html }}}
        {{{ output.standard_end_of_body_html }}}
    </div>
    {{{ output.social_icons }}}
</footer>

</div>
</body>
</html>
{{#js}}
require(['theme_boost/loader']);
{{/js}}
