{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_handlebar/columns2

    Admin time setting template.

    Handlebar 2 column layout template.

    Context variables required for this template:
    * sitename - The name of the site
    * output - The core renderer for the page
    * bodyattributes - attributes for the body tag as a string of html attributes
    * sidepreblocks - HTML for the blocks
    * haspreblocks - true if there are side-pre blocks on this page
    * sidetopblocks - HTML for the blocks
    * hastopblocks - true if there are side-top blocks on this page
    * navdraweropen - true if the nav drawer should be open on page load
    * regionmainsettingsmenu - HTML for the region main settings menu
    * hasregionmainsettingsmenu - There is a region main settings menu on this page.

    Example context (json):
    {
        "sitename": "Moodle",
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Test page",
            "favicon": "favicon.ico",
            "main_content": "<h1>Headings make html validators happier</h1>"
         },
        "bodyattributes":"",
        "sidepreblocks": "<h2>Blocks html goes here</h2>",
        "sidetopblocks": "<h2>Blocks html goes here</h2>",
        "blocksslider1": "<h2>Blocks html goes here</h2>",
        "blocksslider2": "<h2>Blocks html goes here</h2>",
        "blocksslider3": "<h2>Blocks html goes here</h2>",
        "blocksslider4": "<h2>Blocks html goes here</h2>",
        "haspreblocks":true,
        "hastopblocks":true,
        "hasblocksslider1":true,
        "hasblocksslider2":true,
        "hasblocksslider3":true,
        "hasblocksslider4":true,
        "navdraweropen":true,
        "regionmainsettingsmenu": "",
        "hasregionmainsettingsmenu": false
    }
}}
{{{ output.doctype }}}
<html {{{ output.htmlattributes }}}>
<head>
    <title>{{{ output.page_title }}}</title>
    <link rel="shortcut icon" href="{{{ output.favicon }}}" />

    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch:400,700|Lato:300,400,400i,700|Montserrat|Neucha|News+Cycle:400,700|Nunito+Sans:400,600|Open+Sans:300,300i,400,400i,700,700i|Raleway:400,700|Roboto|Source+Sans+Pro:300,400,400i,700|Ubuntu:400,700" rel="stylesheet">

    {{{ output.standard_head_html }}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        {{{ crsimage }}}
    </style>
</head>

<body {{{ bodyattributes }}}>

<div id="page-wrapper">

    {{{ output.standard_top_of_body_html }}}

    {{>theme_handlebar/navbar}}

    <div id="page" class="container-fluid">
        {{{ output.full_header }}}

        <div id="page-content" class="row">
            <div id="region-main-box" class="col-12">
                {{#hasregionmainsettingsmenu}}
                <div id="region-main-settings-menu" class="d-print-none hidden-print {{#haspreblocks}}has-blocks{{/haspreblocks}}">
                    <div> {{{ output.region_main_settings_menu }}} </div>
                </div>
                {{/hasregionmainsettingsmenu}}
                {{#hastopblocks}}
                <section data-region="blocks-row" class="d-print-none hidden-print">
                    {{{ sidetopblocks }}}
                </section>
                {{/hastopblocks}}

                <section id="region-main" {{#haspreblocks}}class="has-blocks mb-3"{{/haspreblocks}}>
                    <div class="card">
						<div class="card-body">
							{{#hasregionmainsettingsmenu}}
								<div class="region_main_settings_menu_proxy"></div>
							{{/hasregionmainsettingsmenu}}
							{{{ output.course_content_header }}}
							{{{ output.main_content }}}
                            {{{ output.activity_navigation }}}
							{{{ output.course_content_footer }}}
						</div>
                    </div>
                </section>

                {{#haspreblocks}}
                <section data-region="blocks-column" class="d-print-none hidden-print">
                    {{{ sidepreblocks }}}
                </section>
                {{/haspreblocks}}
                <section data-region="blocks-column" class="d-print-none hidden-print modal fade" id="slider1_blocksmodal" aria-labelledby="blockslider1modal">
                    {{{ blocksslider1 }}}
                </section>
                {{#hasblocksslider2}}
                <section data-region="blocks-column" class="d-print-none hidden-print modal fade" id="slider2_blocksmodal" aria-labelledby="blockslider2modal">
                    {{{ blocksslider2 }}}
                </section>
                {{/hasblocksslider2}}
                {{#hasblocksslider3}}
                <section data-region="blocks-column" class="d-print-none hidden-print modal fade" id="slider3_blocksmodal" aria-labelledby="blockslider3modal">
                    {{{ blocksslider3 }}}
                </section>
                {{/hasblocksslider3}}
                {{#hasblocksslider4}}
                <section data-region="blocks-column" class="d-print-none hidden-print modal fade" id="slider4_blocksmodal" aria-labelledby="blockslider4modal">
                    {{{ blocksslider4 }}}
                </section>
                {{/hasblocksslider4}}

                {{{ output.blockmodalbuttons }}}


            </div>
        </div>
    </div>
    {{{ output.standard_after_main_region_html }}}
    {{> theme_boost/nav-drawer }}

<footer id="page-footer" class="p-y-1 bg-inverse">
    <div class="container">
        <div id="course-footer">
            {{{ output.course_footer }}}
        </div>
        {{{ output.footnote }}}
        {{# output.page_doc_link }}
            <p class="helplink">{{{ output.page_doc_link }}}</p>
        {{/ output.page_doc_link }}

        {{{ output.login_info }}}
        {{{ output.home_link }}}
        <nav class="nav navbar-nav hidden-lg-up">
            {{# output.custom_menu_flat }}
                <ul class="list-unstyled p-t-1">
                    {{> theme_boost/custom_menu_footer }}
                </ul>
            {{/ output.custom_menu_flat }}
        </nav>
        {{{ output.standard_footer_html }}}
        {{{ output.standard_end_of_body_html }}}
    </div>
{{{ output.social_icons }}}
</footer>

</div>
</body>

</html>
{{#js}}
require(['theme_boost/loader']);
require(['theme_boost/drawer'], function(mod) {
    mod.init();
});
{{/js}}
